name: Build & Deploy for given target

on:
  workflow_call:
    inputs:
      target:
        description: 'Target to deploy app'
        required: true
        type: string
      yaml:
        description: 'Type of deployment'
        required: true
        type: string


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo on change
        run: echo ${{ inputs.target }}
      - name: Echo on change
        run: echo ${{ inputs.yaml }}
