name: Test

on:
  push:
    branches:
      - main
    paths:
      - '1.yaml'
      - '2.yaml'
      - '3.yaml'
      - '4.yaml'
      - '5.yaml'
  workflow_dispatch:

jobs:
  call_reusable_workflow:
    # strategy:
    #   matrix:
    #     include:
    #       - target: baseball
    #         # yaml: '1.yaml'
    #       - target: basketball
    #         # yaml: ['2.yaml', '4.yaml', '5.yaml']
    #       - target: soccer
    #         # yaml: '3.yaml'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            baseball:
              - '1.yaml'
            basketball:
              - '2.yaml'
              - '4.yaml'
              - '5.yaml'
            soccer:
              - '3.yaml'

      - name: Call reusable workflow
        if: steps.changes.outputs.baseball == 'true'
        uses: ./.github/workflows/reusable.yaml
        with:
          target: baseball
      - name: Call reusable workflow
        if: steps.changes.outputs.basketball == 'true'
        uses: ./.github/workflows/reusable.yaml
        with:
          target: basketball
      - name: Call reusable workflow
        if: steps.changes.outputs.soccer == 'true'
        uses: ./.github/workflows/reusable.yaml
        with:
          target: soccer



      # - name: Call reusable workflow
      #   if: steps.changes.outputs.${{ matrix.target }} == 'true'
      #   uses: ./.github/workflows/reusable.yaml
      #   with:
      #     target: ${{ matrix.target }}
