name: Test

on:
  push:
    branches:
      - main
    paths:
      - '1.yaml'
      - '2.yaml'
      - '3.yaml'
      - '4.yaml'
      - '5.yaml'
  workflow_dispatch:

jobs:
  call_reusable_workflow:
    strategy:
      matrix:
        include:
          - target: baseball
            yaml: '1.yaml'
          - target: basketball
            yaml: ['2.yaml', '4.yaml', '5.yaml']
          - target: soccer
            yaml: '3.yaml'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check for changes
        id: check
        run: |
          changed_files=$(git diff --name-only HEAD^ HEAD)
          for file in $changed_files; do
            if [[ "${{ matrix.yaml }}" =~ "$file" ]]; then
              echo "::set-output name=changed::true"
              break
            fi
          done
      - name: Call reusable workflow
        if: steps.check.outputs.changed == 'true'
        uses: ./.github/workflows/reusable.yaml
        with:
          target: ${{ matrix.target }}
